<!Doctype html>
<html>
<link rel = "stylesheet" type = "text/css" href = "/static/css/style.css">
	<script src = "/static/js/script.js"></script>
 <div id="bodybox">
  <div id="chatborder">
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()">
    <input class = "button" type = "submit" value = "Send" onClick="newEntry();">
  </div>
</div>
</html>